/*
table, th, td {
    border: 1px solid black !important;
    border-collapse: collapse !important;
}
th, td {
    padding: 15px !important;
}
*/

.testClass { 
    border: 1px solid black;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 80px !important;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #463f3f;
}